---
import { Image } from "astro:assets";
import hero_pic from "../../src/assets/pics/hero-pic.png";

// interface Props {

// }

// const { src, alt } = Astro.props;
---

<div>
  <Image src={hero_pic} alt="hero image" width={200} height={200}/>
 </div>
