<nav class="flex space-x-16 justify-center p-4">
  <a href="#" class="mr-56 text-xl">CONsFix Serwis</a>
  <a href="#info">Jak działamy?</a>
  <a href="#price">Cennik</a>
  <a href="#contact">Kontakt</a>
</nav>
